---
- name: Open SonarQube port in firewalld
  firewalld:
    port: "{{ sonarqube_port }}/tcp"
    permanent: true
    state: enabled
    immediate: true

- name: Run SonarQube container
  community.docker.docker_container:
    name: "{{ sonarqube_container_name }}"
    image: sonarqube:lts-community
    restart_policy: always
    ports:
      - "{{ sonarqube_port }}:9000"
    env:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - /opt/sonarqube/data:/opt/sonarqube/data
      - /opt/sonarqube/extensions:/opt/sonarqube/extensions
