version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: vulnbank_db
    restart: always
    environment:
      POSTGRES_DB: vulnbank
      POSTGRES_USER: vulnbank
      POSTGRES_PASSWORD: vulnbank123
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db_data:
