name: cosign_sign

runs:
  using: "composite"
  steps:
    - name: Install Cosign
      uses: sigstore/cosign-installer@v3

    - name: Cosign Sign
      run: |
        cosign sign $REGISTRY/${{ secrets.DOCKERHUB_USERNAME }}/$IMAGE_NAME:${{ github.sha }}
      env:
        COSIGN_EXPERIMENTAL: "true"
