name: Build & Push Image

on:
  workflow_call:
    outputs:
      image_tag:
        value: ${{ jobs.build.outputs.image_tag }}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.meta.outputs.image_tag }}
    env:
      REGISTRY: docker.io
      IMAGE_NAME: vuln-bank

    steps:
      - uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        run: |
          TAG="${GITHUB_SHA::7}"
          echo "image_tag=${TAG}" >> $GITHUB_OUTPUT

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/vuln-bank:${{ steps.meta.outputs.image_tag }}
            ${{ secrets.DOCKERHUB_USERNAME }}/vuln-bank:latest
