services:
  vuln-bank-dast:
    image: vuln-bank:${IMAGE_TAG}
    container_name: vuln-bank-dast
    environment:
      DB_NAME: vulnerable_bank
      DB_USER: postgres
      DB_PASSWORD: ${DB_PASSWORD} # Ambil dari .env atau Secrets
      DB_HOST: 192.168.107.130 # Target ke VM3
      DB_PORT: 5432
    networks:
      - zap-net
    expose:
      - "5000"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:5000/ || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 12
      start_period: 30s
    command: python app.py

  zap:
    image: ghcr.io/zaproxy/zaproxy:stable
    container_name: zap
    depends_on:
      vuln-bank-dast:
        condition: service_healthy
    networks:
      - zap-net
    volumes:
      - ./security-reports/dast:/zap/wrk
    command: ["zap.sh", "-daemon", "-host", "0.0.0.0", "-port", "8080"]

networks:
  zap-net:
    driver: bridge
