services:
  vuln-bank-dast:
    image: ${IMAGE_WITH_TAG}
    container_name: vuln-bank-dast

    ports:
      - "5000:5000"

    environment:
      FLASK_ENV: production

    healthcheck:
      test:
        [
          "CMD",
          "python",
          "-c",
          "import urllib.request; urllib.request.urlopen('http://127.0.0.1:5000', timeout=2)"
        ]
      interval: 10s
      timeout: 3s
      retries: 6

    restart: unless-stopped
    networks:
      - dastnet

  zap:
    image: ghcr.io/zaproxy/zaproxy:2.15.0
    depends_on:
      vuln-bank-dast:
        condition: service_healthy
    command: >
      zap.sh -daemon -host 0.0.0.0 -port 8080
    volumes:
      - ./security-reports:/zap/wrk
    mem_limit: 2g
    networks:
      - dastnet

networks:
  dastnet:
    driver: bridge
