version: "3.8"

services:
  vuln-bank-dast:
    image: ${IMAGE_TAG}
    container_name: vuln-bank-dast
    environment:
      - FLASK_ENV=production
      - FLASK_RUN_HOST=0.0.0.0
    command: python app.py --host=0.0.0.0
    ports:
      - "5000:5000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:5000"]
      interval: 10s
      timeout: 3s
      retries: 6
    restart: unless-stopped
    networks:
      - dastnet

  zap:
    image: owasp/zap2docker-live
    # If you want fixed version:
    # image: owasp/zap2docker-weekly:2024-11-25
    container_name: zap
    depends_on:
      - vuln-bank-dast
    command: >
      zap.sh -daemon -host 0.0.0.0 -port 8080
    ports:
      - "8080:8080"
    volumes:
      - ./security-reports/dast:/zap/wrk
    restart: unless-stopped
    mem_limit: 2g
    networks:
      - dastnet

networks:
  dastnet:
    driver: bridge
