version: "3.9"

services:
  vuln-bank-dast:
    image: vuln-bank:ci
    container_name: vuln-bank-dast
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: dast
    networks:
      - dastnet

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: dast
      POSTGRES_DB: vulnerable_bank
    networks:
      - dastnet

networks:
  dastnet:
    name: vuln-bank_dastnet
