services:
  vuln-bank-dast:
    image: xbash81/vuln-bank:latest
    container_name: vuln-bank-dast
    ports:
      - "5500:5000"
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: dast
    depends_on:
      - db
    networks:
      - dastnet

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: dast
      POSTGRES_DB: vulnerable_bank
    networks:
      - dastnet

networks:
  dastnet:
    name: vuln-bank_dastnet
