services:
  vuln-bank-dast:
    image: vuln-bank:${IMAGE_TAG}
    container_name: vuln-bank-dast
    networks:
      - zap-net
    ports:
      - "5000:5000"
    environment:
      DB_HOST: 127.0.0.1
      DB_PORT: 9999
      DB_NAME: dummy
      DB_USER: dummy
      DB_PASSWORD: dummy
    command: python app.py

  zap:
    image: ghcr.io/zaproxy/zaproxy:stable
    container_name: zap
    depends_on:
      - vuln-bank-dast
    networks:
      - zap-net
    volumes:
      - ./security-reports/dast:/zap/wrk
    command: ["zap.sh", "-daemon", "-host", "0.0.0.0", "-port", "8080"]

networks:
  zap-net:
    driver: bridge
