version: "3.8"

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: vulnerable_bank
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 2s
      retries: 15
    networks: [zap-net]

  app:
    image: vuln-bank:${IMAGE_TAG}
    command: python app.py
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: vulnerable_bank
      DB_USER: postgres
      DB_PASSWORD: postgres
    networks: [zap-net]

  zap:
    image: ghcr.io/zaproxy/zaproxy:stable
    depends_on: [app]
    networks: [zap-net]
    volumes:
      - ./security-reports/dast:/zap/wrk
    command: >
      zap-baseline.py
      -t http://app:5000
      -J /zap/wrk/zap-baseline.json
      -r /zap/wrk/zap-baseline.html
      -m 2
      -I

networks:
  zap-net:
    driver: bridge
