---
- name: Ensure basic tools installed
  package:
    name:
      - vim
      - git
      - curl
      - wget
      - tar
      - tmux
      - firewalld
    state: present

- name: Ensure firewalld enabled and running
  service:
    name: firewalld
    state: started
    enabled: true
