services:
  vuln-bank:
    image: ${IMAGE_WITH_TAG}
    container_name: vuln-bank-app
    restart: unless-stopped

    ports:
      - "5000:5000"

    environment:
      DB_NAME: vulnerable_bank
      DB_USER: postgres
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: 192.168.107.129
      DB_PORT: 5432
      DEEPSEEK_API_KEY: ${DEEPSEEK_API_KEY}

    volumes:
      - uploads:/app/static/uploads:rw

    security_opt:
      - no-new-privileges:true

    cap_drop:
      - ALL

    read_only: true

    tmpfs:
      - /tmp
      - /var/run
      - /var/tmp

    healthcheck:
      test: ["CMD","python","-c","import requests; requests.get('http://127.0.0.1:5000',timeout=2)"]
      interval: 30s
      timeout: 5s
      retries: 3

volumes:
  uploads:
