---
apiVersion: v1
kind: Namespace
metadata:
  name: vuln-bank-app
  labels:
    name: vuln-bank-app
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vuln-bank
  namespace: vuln-bank-app
spec:
  replicas: 1
  minReadySeconds: 15
  selector:
    matchLabels:
      app: vuln-bank
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: vuln-bank
    spec:
      nodeSelector:
        node-role.kubernetes.io/app: "true"
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      automountServiceAccountToken: false
      terminationGracePeriodSeconds: 60
      containers:
        - name: vuln-bank
          image: IMAGE_PLACEHOLDER
          imagePullPolicy: Always
          env:
          - name: DB_HOST
            value: vulnbank-db.vuln-bank-db.svc.cluster.local
          - name: DB_PORT
            value: "5432"
          - name: DB_NAME
            valueFrom:
              secretKeyRef:
                name: vulnbank-app-db-credentials
                key: DB_NAME
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: vulnbank-app-db-credentials
                key: DB_USER
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: vulnbank-app-db-credentials
                key: DB_PASSWORD
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "100m"
              memory: "512Mi"
            limits:
              cpu: "250m"
              memory: "512Mi"
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsUser: 10000
            runAsGroup: 10000
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
---
apiVersion: v1
kind: Service
metadata:
  name: vuln-bank
  namespace: vuln-bank-app
spec:
  type: ClusterIP
  selector:
    app: vuln-bank
  ports:
    - port: 5000
      targetPort: 5000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels:
    app: vuln-bank
  name: vuln-bank
  namespace: vuln-bank-app
spec:
  rules:
  - host: vuln-bank.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: vuln-bank
            port:
              number: 5000
