---
apiVersion: v1
kind: Namespace
metadata:
  name: vuln-bank-app
  labels:
    name: vuln-bank-app
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vuln-bank
  namespace: vuln-bank-app
spec:
  replicas: 1
  minReadySeconds: 15
  selector:
    matchLabels:
      app: vuln-bank
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: vuln-bank
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      nodeSelector:
        node-role.kubernetes.io/app: "true"
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      automountServiceAccountToken: false
      terminationGracePeriodSeconds: 60
      containers:
        - name: vuln-bank
          image: IMAGE_PLACEHOLDER
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: env-vuln-bank
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "512m"
              memory: "1Gi"
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsUser: 10000
            runAsGroup: 10000
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      volumes:
      - name: tmp
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: vuln-bank
  namespace: vuln-bank-app
spec:
  type: ClusterIP
  selector:
    app: vuln-bank
  ports:
    - port: 5000
      targetPort: 5000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels:
    app: vuln-bank
  name: vuln-bank
  namespace: vuln-bank-app
spec:
  ingressClassName: traefik
  rules:
  - host: vuln-bank.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: vuln-bank
            port:
              number: 5000
