---
- name: Ensure OpenSCAP packages installed
  dnf:
    name:
      - openscap-scanner
      - scap-security-guide
    state: present

- name: Create OpenSCAP scan script
  copy:
    dest: /usr/local/bin/run_openscap.sh
    mode: "0750"
    content: |
      #!/bin/bash
      TS=$(date +%F)
      oscap xccdf eval \
        --profile xccdf_org.ssgproject.content_profile_standard \
        --report /var/oscap-reports/openscap-$TS.html \
        /usr/share/xml/scap/ssg/content/ssg-rl9-ds.xml || true

- name: Schedule weekly OpenSCAP scan
  cron:
    name: "Weekly OpenSCAP Compliance Scan"
    user: root
    weekday: 0
    hour: 2
    minute: 0
    job: "/usr/local/bin/run_openscap.sh"
