version: "3.9"

services:
  vulnbank:
    image: "docker.io/{{ dockerhub_username | default('novaferrydianto') }}/vuln-bank:{{ vulnbank_tag | default('latest') }}"
    container_name: vulnbank_app
    restart: always
    ports:
      - "80:5000"
    environment:
      DB_HOST: {{ hostvars['db-node']['ansible_host'] | default('192.168.107.130') }}
      DB_USER: vulnbank
      DB_PASS: vulnbank123
      DB_NAME: vulnbank
