---
- name: Ensure /tmp has secure mount flags
  mount:
    path: /tmp
    src: tmpfs
    fstype: tmpfs
    opts: "defaults,nodev,nosuid,noexec"
    state: mounted

- name: Disable uncommon filesystem types
  copy:
    dest: /etc/modprobe.d/cis.conf
    content: |
      install cramfs /bin/true
      install freevxfs /bin/true
      install jffs2 /bin/true
      install hfs /bin/true
      install hfsplus /bin/true
      install squashfs /bin/true
      install udf /bin/true
