- include_tasks: ssh.yml
- include_tasks: filesystem.yml
- include_tasks: services.yml

- name: Run OpenSCAP scan (CIS)
  command: >
    oscap xccdf eval
    --profile xccdf_org.ssgproject.content_profile_cis
    --report /root/openscap-report.html
    /usr/share/xml/scap/ssg/content/ssg-rocky9-xccdf.xml
