---
# Disable unnecessary / risky services based on CIS Benchmark

- name: Ensure avahi-daemon is disabled
  ansible.builtin.service:
    name: avahi-daemon
    enabled: no
    state: stopped
  ignore_errors: true

- name: Ensure cups is disabled
  ansible.builtin.service:
    name: cups
    enabled: no
    state: stopped
  ignore_errors: true

- name: Ensure rpcbind is disabled
  ansible.builtin.service:
    name: rpcbind
    enabled: no
    state: stopped
  ignore_errors: true

- name: Ensure telnet is disabled
  ansible.builtin.service:
    name: telnet.socket
    enabled: no
    state: stopped
  ignore_errors: true

- name: Ensure tftp is disabled
  ansible.builtin.service:
    name: tftp
    enabled: no
    state: stopped
  ignore_errors: true

- name: Ensure nfs-server is disabled
  ansible.builtin.service:
    name: nfs-server
    enabled: no
    state: stopped
  ignore_errors: true

- name: Ensure chronyd is enabled (CIS recommended)
  ansible.builtin.service:
    name: chronyd
    enabled: yes
    state: started

- name: Validate failed services
  ansible.builtin.command: systemctl --failed
  changed_when: false
  register: failed_services

- name: Debug failed services
  ansible.builtin.debug:
    var: failed_services.stdout
