---
- name: Disable avahi-daemon
  systemd:
    name: avahi-daemon
    enabled: false
    state: stopped

- name: Disable cups
  systemd:
    name: cups
    enabled: false
    state: stopped

- name: Disable rpcbind
  systemd:
    name: rpcbind
    enabled: false
    state: stopped
  ignore_errors: true

- name: Disable telnet
  systemd:
    name: telnet.socket
    enabled: false
    state: stopped
  ignore_errors: true

- name: Disable tftp
  systemd:
    name: tftp
    enabled: false
    state: stopped
  ignore_errors: true

- name: Ensure chronyd enabled
  systemd:
    name: chronyd
    enabled: true
    state: started
