services:
  postgres:
    image: docker.io/library/postgres:16
    container_name: vuln-bank-db
    restart: unless-stopped

    environment:
      POSTGRES_DB: vulnerable_bank
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    volumes:
      - pg_data:/var/lib/postgresql/data:rw

    security_opt:
      - no-new-privileges:true

    cap_drop:
      - ALL

    read_only: false

volumes:
  pg_data:
    driver: local
