---
- name: Deploy DB stack on VM3
  hosts: db
  become: true
  roles:
    - role: docker
    - role: hosting
      vars:
        stack_type: db

- name: Deploy App stack on VM2
  hosts: hosting
  become: true
  roles:
    - role: docker
    - role: hosting
      vars:
        stack_type: app
        image_ref: "{{ image_ref }}"
