---
- name: Deploy DB (VM3)
  hosts: db
  become: true

  roles:
    - role: deploy_app
      vars:
        target: "db"

- name: Deploy APP (VM2)
  hosts: hosting
  become: true

  roles:
    - role: deploy_app
      vars:
        target: "app"
