---
- name: CIS Hardening on hosting & db
  hosts: hosting,db
  become: true

  roles:
    - role: cis_hardening
    - role: openscap
      vars:
        openscap_profile: xccdf_org.ssgproject.content_profile_cis_server_l1
        openscap_report_dir: /var/oscap
