---
- name: Apply CIS Hardening (OS Baseline) to all nodes
  hosts: all
  become: true
  gather_facts: true

  tags:
    - cis
    - hardening
    - baseline

  roles:
    - role: cis_hardening
      tags: cis

  handlers:
    - name: restart sshd
      ansible.builtin.service:
        name: sshd
        state: restarted
