- hosts: all
  become: true
  tasks:
    - name: Run OpenSCAP report
      command: >
        oscap xccdf eval
        --profile xccdf_org.ssgproject.content_profile_cis
        --report /root/openscap-final-report.html
        /usr/share/xml/scap/ssg/content/ssg-rocky9-xccdf.xml
