version: "3.9"

services:
  app:
    image: "{{ app_image }}"
    container_name: vuln-bank-app
    restart: always

    ports:
      - "5000:5000"

    env_file:
      - "{{ app_compose_dir }}/.env"

    networks:
      - vulnnet

networks:
  vulnnet:
    driver: bridge
