apiVersion: v1
kind: Namespace
metadata:
  name: vuln-bank-db
  labels:
    name: vuln-bank-db
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: vulnbank-db
  namespace: vuln-bank-db
spec:
  serviceName: vulnbank-db
  replicas: 1
  selector:
    matchLabels:
      app: vulnbank-db
  template:
    metadata:
      labels:
        app: vulnbank-db
    spec:
      nodeSelector:
        node-role.kubernetes.io/db: "true"
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: postgres
        image: postgres:16
        ports:
          - containerPort: 5432
        envFrom:
          - secretRef:
              name: vulnbank-db-credentials
        resources:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "2000m"
            memory: "2Gi"
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        volumeMounts:
          - name: pgdata
            mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
  - metadata:
      name: pgdata
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 10Gi
---
apiVersion: v1
kind: Service
metadata:
  name: vulnbank-db
  namespace: vuln-bank-db
spec:
  type: ClusterIP
  selector:
    app: vulnbank-db
  ports:
    - port: 5432
      targetPort: 5432