- name: Install dependencies
  dnf:
    name:
      - dnf-plugins-core
      - device-mapper-persistent-data
      - lvm2
    state: present

- name: Add Docker repo
  command: dnf config-manager --add-repo=https://download.docker.com/linux/centos/docker-ce.repo

- name: Install Docker CE
  dnf:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present

- name: Enable docker
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Install Docker Compose
  get_url:
    url: https://github.com/docker/compose/releases/download/v2.26.0/docker-compose-linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: '0755'
