---
# ==========================================
# PLAY 1: Persiapan dan Hardening untuk SEMUA HOST
# ==========================================
- name: 1. Setup dan CIS Hardening pada Semua Host (Rocky Linux 7.6)
  hosts: all
  become: yes # Diperlukan untuk instalasi paket dan hardening (Menggunakan sudo user hosting/db)
  roles:
    - cis_hardening

# ==========================================
# PLAY 2: Deployment Database
# ==========================================
- name: 2. Deployment Database Component
  hosts: db
  become: yes
  vars:
    remote_db_dir: "/opt/vuln-bank/db"
  roles:
    - db_setup

# ==========================================
# PLAY 3: Deployment Aplikasi Web
# ==========================================
- name: 3. Deployment Application Component
  hosts: hosting
  become: yes
  vars:
    remote_app_dir: "/opt/vuln-bank/app"
    db_host: "192.168.107.129" # IP DB (Diambil dari grup db)
    docker_repo_user: YOUR_DOCKERHUB_USERNAME # Ganti dengan username Docker Anda
  roles:
    - app_hosting