env:
  contexts:
    - name: vuln-bank
      urls:
        - ${TARGET_URL}

jobs:
  - type: spider
    parameters:
      context: vuln-bank
      maxDepth: 5
      maxDuration: 3

  - type: activeScan
    parameters:
      context: vuln-bank
      policy: Default Policy
      maxScanDurationInMins: 5

  - type: report
    parameters:
      template: traditional-json
      reportDir: /zap/wrk
      reportFile: zap_alerts.json
