---
- name: Install K3s Server
  shell: |
    curl -sfL https://get.k3s.io | sh -s - server \
      --cluster-init \
      --disable flannel \
      --disable traefik \
      --disable-network-policy=false
  args:
    creates: /usr/local/bin/k3s
  when: "'k3s_server' in group_names"

- name: Read K3s node token
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: k3s_token
  when: "'k3s_server' in group_names"

- name: Set token fact
  set_fact:
    node_token: "{{ k3s_token.content | b64decode }}"
  when: "'k3s_server' in group_names"

- name: Install K3s Agent
  shell: |
    curl -sfL https://get.k3s.io | \
      K3S_URL="https://{{ hostvars[groups['k3s_server'][0]].ansible_host }}:6443" \
      K3S_TOKEN="{{ hostvars[groups['k3s_server'][0]].node_token }}" \
      sh -
  args:
    creates: /usr/local/bin/k3s-agent
  when: "'k3s_agent' in group_names"
