---
- name: Install base packages
  dnf:
    name:
      - vim
      - curl
      - wget
      - git
      - unzip
      - tar
      - ca-certificates
    state: present

- name: Enable time sync
  service:
    name: chronyd
    state: started
    enabled: true

- name: Disable firewalld (lab use)
  service:
    name: firewalld
    state: stopped
    enabled: false
