name: VulnBank DevSecOps Hybrid

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:

  security:
    uses: ./.github/workflows/jobs-security.yml
    secrets: inherit

  build_and_push:
    needs: security
    uses: ./.github/workflows/jobs-build-and-push.yml
    secrets: inherit

  dast:
    needs: build_and_push
    uses: ./.github/workflows/jobs-dast.yml
    with:
      image_ref: ${{ needs.build_and_push.outputs.image_ref }}
    secrets: inherit

  create_issue:
    needs: [security, dast]
    uses: ./.github/workflows/jobs-create-issue.yml
    with:
      app_name: "vuln-bank"
      sca_high: ${{ needs.security.outputs.sca_high }}
      sca_critical: ${{ needs.security.outputs.sca_critical }}
      dast_alerts: ${{ needs.dast.outputs.alerts }}
    secrets: inherit
