name: Job - Cosign Sign

on:
  workflow_call:
    inputs:
      image_ref:
        required: true
        type: string

jobs:
  sign:
    runs-on: ubuntu-latest

    steps:
      - run: |
          echo "${{ secrets.COSIGN_PRIVATE_KEY }}" > cosign.key

      - run: |
          cosign sign \
            --key cosign.key \
            -y \
            "${{ inputs.image_ref }}"
