name: Reusable - Build & Push

on:
  workflow_call:
    outputs:
      image_ref:
        description: "Image reference"
        value: ${{ jobs.build.outputs.image_ref }}
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
      IMAGE_NAME:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_ref: ${{ steps.meta.outputs.image_ref }}

    steps:
      - uses: actions/checkout@v4

      - id: meta
        run: |
          TAG=${GITHUB_SHA::7}
          IMAGE="docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.IMAGE_NAME }}:$TAG"
          echo "image_ref=$IMAGE" >> $GITHUB_OUTPUT

      - name: Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push
        run: |
          docker build -t ${{ steps.meta.outputs.image_ref }} .
          docker push ${{ steps.meta.outputs.image_ref }}
