name: Reusable - Security Suite

on:
  workflow_call:
    outputs:
      sca_high:
        description: "High SCA vulnerabilities"
        value: ${{ jobs.sca.outputs.sca_high }}
      sca_critical:
        description: "Critical SCA vulnerabilities"
        value: ${{ jobs.sca.outputs.sca_critical }}
    secrets:
      SNYK_TOKEN:
        required: true
      SONAR_TOKEN:
        required: true

jobs:
  sca:
    runs-on: ubuntu-latest

    outputs:
      sca_high: ${{ steps.count.outputs.high }}
      sca_critical: ${{ steps.count.outputs.critical }}

    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: npm ci

      - name: Run Snyk Scan
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          args: --json-file-output=snyk.json

      - id: count
        name: Extract High/Critical
        run: |
          HIGH=$(grep -o '"severity":"high"' snyk.json | wc -l)
          CRIT=$(grep -o '"severity":"critical"' snyk.json | wc -l)

          echo "high=$HIGH" >> $GITHUB_OUTPUT
          echo "critical=$CRIT" >> $GITHUB_OUTPUT
