# .github/workflows/jobs-dast.yml
name: Reusable - DAST ZAP

on:
  workflow_call:
    inputs:
      image_ref:
        required: true
        type: string

jobs:
  dast:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker Login (optional for private image)
        if: startsWith(inputs.image_ref, 'docker.io/')
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Start Vuln Bank container
        run: |
          docker run -d --rm \
            -p 5000:5000 \
            --name vuln-bank-dast \
            "${{ inputs.image_ref }}"
          sleep 15

      - name: Run ZAP Baseline
        run: |
          docker run --rm \
            -v "$(pwd)":/zap/wrk/:rw \
            --network="host" \
            ghcr.io/zaproxy/zaproxy:stable \
            zap-baseline.py \
            -t http://localhost:5000 \
            -r zap-report.html \
            -J zap-report.json \
            -a || true

      - name: Stop app
        run: docker stop vuln-bank-dast || true

      - name: Upload ZAP report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: |
            zap-report.html
            zap-report.json
