name: Vuln Bank SLSA Provenance

permissions:
  contents: read
  packages: write
  id-token: write

on:
  workflow_run:
    workflows: ["Vuln Bank CI"]
    types: [completed]

jobs:
  provenance:
    if: github.event.workflow_run.conclusion == 'success'
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container.yml@v1
    with:
      image: xbash81/vuln-bank
      registry: docker.io
