name: Vuln Bank Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "0 18 * * *"

permissions:
  contents: read
  issues: write
  pull-requests: write
  security-events: write
  id-token: write

jobs:
  prep:
    runs-on: self-hosted
    outputs:
      mode: ${{ steps.m.outputs.mode }}
    steps:
      - id: m
        run: |
          if [[ "$GITHUB_REF" == "refs/heads/main" || "$GITHUB_EVENT_NAME" == "schedule" ]]; then
            echo "mode=full" >> "$GITHUB_OUTPUT"
          else
            echo "mode=light" >> "$GITHUB_OUTPUT"
          fi

  devsecops:
    needs: prep
    uses: ./.github/workflows/devsecops-reusable.yml
    with:
      scan_mode: ${{ needs.prep.outputs.mode }}
      epss_threshold: "0.5"
      image_repo: xbash81/vuln-bank
      image_tag:  ${{ github.sha }}
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
